<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sliding_menu1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".entity.BaseApplication"
        tools:replace="android:icon, android:theme"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <service android:name="com.juhe.weather.service.WeatherService"/>
        <service android:name=".service.StepCounterService"/>

        <activity android:name=".Activity.AdvertisementActiviy"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".Activity.ScanActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".Activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <activity android:name=".Activity.BusActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar">
        </activity>

        <activity android:name=".Activity.DownloadActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".Activity.ShowMapActivity">
        </activity>

        <activity android:name=".Activity.BrowserActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".Activity.CalulaterActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>

        <activity android:name=".Activity.FlashlightActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".Activity.WeatherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".Activity.CityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".Activity.LivingActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Activity.CalendarActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Activity.PoiSearchActivity"></activity>
        <activity android:name=".Activity.StepCountActivity"></activity>
        <activity android:name=".Activity.StepSettingActivity"></activity>
        <activity android:name=".Activity.RegisterActivity"></activity>
        <activity android:name=".Activity.LoginActivity"></activity>
        <activity android:name=".Activity.ModifyPwdActivity"></activity>
        <activity android:name=".Activity.ModifyNameActivity"></activity>
        <meta-data
            android:name="com.thinkland.juheapi.openid"
            android:value="JHc0488570e219127f5603506ad3036d35"/>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="MjnZInweMueadDWFVqKtGtEGZkpBu2qk" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 电源管理权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
